/* Custom CSS settings */

img {
    width:100%;
}

h2 {
	color: #21409a;
}

.vis_mandatory {
    color: #FF0000;
    padding: 0px;
    font-size: 0.83em;
    font-weight: normal;
}

.visBtnCon {
   padding-top: 15px;
   padding-right: 25px;
   padding-left: 25px;
   font-size: 13px !important;
   line-height: 17px;
   color: #fff;
   width: 115px;
   background-color: #21409a;
   text-transform: lowercase;
   border-radius: 4px;
   margin-top: 10px;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    line-height: 1 !important;
    padding: 8px 6px;
    width: 100%;
    height: auto !important;
    background-color: #f7f7f7;
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0px 1px 0px #CCCCC;
    -moz-box-shadow: 0px 1px 0px #CCCCC;
    box-shadow: 0px 1px 0px #CCCCC;
    border-radius: 5px;
}

.help-block {
	margin-left: 0px;
}

.btn {
    padding: 7px 25px;
    margin-top: 60px;
    font-size: 13px !important;
    line-height: 17px;
    color: #fff;
    background-color: #21409a;
    text-transform: lowercase;
    border: none;
}

.input-80 {
    width: 100%;
}

.logo {
    margin-top:30px;
    width: 419px;
    margin-bottom: 30px;
    margin-left: 90px;
}

@media (min-width: 737px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    width: 100%;
	    padding-left: 0px;
	    padding-right:0px;
	    position:relative;
	}

	.left {
		padding-left: 5%;
	}

	.right {
		padding-right:5%;
	}

	.nav > li {
	  float: left;
		text-align: center;
		padding-top: 16px;
	}

	.content {
		width:100%;
    		padding-left:12%;
    		padding-right:12%;
		float: left;
	}

	.contact {
		width:100%;
    		padding-left:12%;
    		padding-right:12%;
		float: left;
	}

  div.blog-featured > div.items-row {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(#fff, #FDFDFD, #F7F7F7);
  }

  div.items-row > div.item > div.pull-left > img {
    padding-right: 50px;
  }

  div.blog-featuredreferenzen > div.items-row, div.blog-featuredfragen > div.items-row {
    padding-top: 50px;
    width:100%
    padding-bottom: 100px;
    background: linear-gradient(#fff, #FDFDFD, #F7F7F7);
  }

  div.blog-featuredreferenzen > div.items-row > div.item > h2.item-title {
    margin-top: 0px;
    float: left;
    width: 50px;
    opacity: 0.4;
  }

  div.blog-featuredfragen > div.items-row > div.item > h2.item-title {
    margin-top: 0px;
    float: right;
    width: 550px;
    opacity: 0.4;
  }

  div.blog-featuredfragen > div.items-row > div.item > p {
    padding-right: 150px;
    width: 80%;
  }

div.blog-featuredreferenzen > div.items-row > div.item > p {
  padding-left: 150px;
  width: 80%;
}

div.blog-featuredfragen > div.items-row > div.item > p {
  padding-left: 50px;
  width: 80%;
}

div > div > div > p.fa {
  margin-left:0px;
  width:100%;
  margin-bottom: 20px;
}

div > div > div > p.fa-2x {
  margin-left:40px;
  margin-bottom: 5px;
}

  div.blog-featuredreferenzen > div.items-row > div.item, div.blog-featuredfragen > div.items-row > div.item {
    margin-left: 12%;
    padding-bottom: 40px;
  }

  h2.item-title {
    text-align: center;
    font-size:50px;
    padding-bottom: 30px;
  }

  div.blog-featured > div.items-row > div.item {
    margin-left: 12%;
    margin-right: 12%;
  }

  .gruende {
    border-radius: 4px;
    float: right;
    border-width: 1px;
    margin-right: 120px;
}

	#rahmen {
		margin-left: auto;
    margin-right: auto;
    width: 100%;
	}

	#banner {
		height: 80px;
    	background-color: #21409a;
	}

  @font-face {
          font-family: "Fira";
          src: url(../fonts/FiraSans-Light.ttf);
  }
  @font-face {
          font-family: "Fira";
          src: url(../fonts/FiraSans-Bold.ttf);
          font-weight: bold;
  }
  /*@font-face {
          font-family: "Fira";
          src: url(../fonts/FiraSans-Black.ttf);
          font-weight: bold;
  }*/
  @font-face {
          font-family: "Fira";
          src: url(../fonts/FiraSans-Italic.ttf);
          font-weight: italic;
          font-style: italic;
  }

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }

  div.blog-featured > div > div > p {
        -webkit-animation: chapternav-slidein 350ms backwards;
            animation: chapternav-slidein 350ms backwards;
    /*visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;*/
  }

  /*div.blog-featured:hover > div > div > p {
    visibility: visible;
    opacity: 1;
  }*/

  p,div,a,em {
      font-family: "Fira";
      font-size: 18px;
  }

  ul.nav > li > a {
    font-size:22px;
  }

  div.item > h4 {
    font-size:22px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: "Fira";
    font-weight: bold;
  }

  div.anruf > div > div > p > a {
    color:white;
  }

	.body {
		width:100%;
	}

	.navi {
    	position: absolute;
		margin: auto;
		float:center;
		text-align: center;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.nav > li > a {
	    position: relative;
	    display: block;
	    border-radius: 4px;
	    padding: 10px 15px;
	}

	.nav {
		font-size: 18px;
    padding-bottom: 10px;
    height: 80px;
    float: center;
    display: table;
    margin: 0 auto;
	}

	.navigation {
		width:100%;
		padding-right:0px;
		margin-right:0px;
	}

  .nav > li > a {
		color: white;
	}

  .nav > li.active > a {
    background-color: white;
    color: black;
  }

	.control-label {
	    width: 18%;
	    float:left;
	    max-width: 50%;
	    text-align: left;
	}

	.nav > li > a:hover {
    background-color: white;
		color: black;
	}

	.footerelement > div > div > p > a:link, .footerelement > div > div > p > a:visited {
		color: white;
	}

	.contentelement {
		width:100%;
	}

	.footer {
		position:absolute;
		width:100%;
		padding-top:45px;
		padding-left:5%;
		height:100px;
		background-color: #21409a;
	}

	.footerelement {
		width:300px;
		float:left;
	}

	.image {
		display: table;
    	margin: 0 auto;
	}

	.pageTitle {
		display: none;
	}

	label {
	    display: inline-block;
	    max-width: 100%;
	    font-weight: normal;
	    margin-bottom: 5px;
	}

	.visCSSlabel {
		font-weight: bold;
	}

	.anruf {
		position:fixed;
		right:0px;
   	top:42px;
   	height: 105px;
   	width: 150px;
   	background-color: #21409a;
   	border-radius: 4px;
   	padding-left: 15px;
   	padding-right: 15px;
   	padding-top:5px;
	}
  div.anruf > div > div > p > span > a {
    font-size: 16px;
  }
}

@media (max-width:737px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    padding-left: 0px;
	    padding-right:0px;
	    position:relative;
	    margin-left: 4%;
	    margin-right: 4%;
	}

	.anruf {
		display: none;
	}

  .fa {
    display:none;
  }

  div > div.items-row > div > p,h2,h4,div {
    text-align: left !important
  }

	.help-block {
        	margin-left: 0px;
	}


	label {
	    display: inline-block;
	    max-width: 100%;
	    font-weight: normal;
	    margin-bottom: 5px;
	}

	.visCSSlabel {
		font-weight: bold;
	}

	.category-desc {
		margin-top:-20px;
	}

	.visCSSmargLeft, .editor {
		margin-left: 0%;
	}

	.visCSSinput, .editor {
	    width: 100%;
	    margin-top: 10px;
	    background: none;
	}

	.visCSSlabel {
	    display: block;
	    float: left;
	    width:100%;
	    margin-top: 10px;
	    margin-right: 1%;
	    font-size: 1em;
	}

	.iframe {
		max-width: 100%;
		width:100%;
	}

	.pageTitle {
		margin-left: 20px;
		margin-top: 9px;
    	float: left;
    	width: 73%;
	}

	.control-label {
		width:100%;
	}

	.gruende {
	    visibility: hidden;
	    display: none;
	}

	.logo {
    	    margin-left: 4%;
	    margin-right: 4%;
	    margin-bottom: 0px;
	    margin-top: 20px;
	    width: 90%;
	}

	.navbar-nav {
	    margin: 7.5px -15px;
	    margin-left: 5px;
	}

	.footer {
		position:absolute;
		width:100%;
		margin-top:5%;
		padding-top:15px;
		padding-left:5%;
		font-size:15px;
		background-color: #21409a;
	}

	.navbar-toggle {
		margin-right: 20px;
		margin-top:0%;
	}

	.btn {
		margin-right: 25px;
	}

	.collapse {
    	display: none;
	}
	.in {
		display:inline;
	}

	.footerelement > div > div > p > a:link, .footerelement > div > div > p > a:visited {
		color: white;
	}
}

#contact {
        padding:20px 0;
}
.input-80 {
        width: 88%;
}
#formResponse {
        font-weight: bold;
        background-color: #FCF8E3;
        border-radius: 5px;
        padding: 10px;
        color: #5C441B;
}
.formUnfilled {
        display: none;
}
label.error {
  color: red;
  padding: 2px 0;
  margin-top: 2px;
  margin-bottom: -10px;
}
.warning {
        color: red;
}
/* Manual Code  */
.form-horizontal .control-label {
        width: 100%;
        max-width: 100%;
        text-align: left;
}
.form-horizontal .control-label {
        text-align: left;
}
.form-horizontal .controls {
        margin-left:0px;
}
input[type="text"]{
        height: 25px;
}
input[type="email"]{
        height: 25px;
}
select{
        height: 35px;
}
textarea {
        height: 120px;
}
